@use '../../styles/mixins/text-styles.mixin.scss' as *;
@use '../../styles/mixins/breakpoints.mixin.scss' as *;

.account-balance-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--soft-red);
  padding: 1.25rem;
  padding-right: 1.5rem;
  border-radius: var(--medium-border-radius);

  .info {
    display: flex;
    flex-direction: column;
    @include mini-caption;
    color: #ffffff;

    @include for-desktop {
      @include body;
    }

    .balance {
      @include base-font;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.291;

      @include for-desktop {
        @include heading-large;
      }
    }
  }

  .logo {
    max-width: 60px;

    @include for-desktop {
      max-width: 72px;
    }
    img {
      display: block;
    }
  }
}
